.PlaceDetailsRatings span {
  vertical-align: middle;
}

.PlaceDetailsRatings li > span:first-child {
  width: 120px;
  display: inline-block;
}

.PlaceDetailsRatings li > span:last-child {
  margin-left: 15px;
}

@media (max-width: 576px) {
  .PlaceDetailsRatings li {
    display: flex;
    justify-content: space-between;
  }

  .PlaceDetailsRatings li > span:first-child {
    width: auto;
    flex-grow: 1;
  }
}
