.PlaceDetailsImageForm > form {
  display: flex;
  justify-content: space-between;
}

.PlaceDetailsImageForm > form :first-child {
  margin-right: 15px;
}

.PlaceDetailsImageForm label {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-right: 80px;
}

.PlaceDetailsImageForm label:after {
  width: 80px;
}
