.PlaceDetailsComments > div {
  margin-bottom: 15px;
}

.PlaceDetailsComments > div:last-child {
  margin-bottom: 0;
}

.PlaceDetailsComments button {
  height: 24px;
  width: 24px;
  padding: 1px;
  background: none;
  border: none;
  outline: none;
}

.PlaceDetailsComments-header {
  display: flex;
  justify-content: space-between;
}

.PlaceDetailsComments-header button:hover {
  background: none;
}

.PlaceDetailsComments-header button:active {
  background: none !important;
}

.PlaceDetailsComments-header button:focus {
  box-shadow: none;
}

.PlaceDetailsComments-header button img {
  height: 100%;
  width: 100%;
  display: block;
}

.PlaceDetailsComments-ratings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.PlaceDetailsComments-ratings > div {
  display: flex;
  white-space: nowrap;
}

.PlaceDetailsComments-ratings > div > span:first-child {
  margin-right: 10px;
}

.PlaceDetailsComments-ratings > div > span:last-child {
  margin-left: 10px;
}

@media (max-width: 992px) {
  .PlaceDetailsComments-ratings {
    flex-direction: column;
  }

  .PlaceDetailsComments-ratings > div > span:first-child {
    width: 120px;
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .PlaceDetailsComments-ratings > div {
    display: flex;
    justify-content: space-between;
  }

  .PlaceDetailsComments-ratings > div > span:first-child {
    width: auto;
    flex-grow: 1;
  }
}
