.PlaceCard {
  text-decoration: none;
  color: #000;
  text-align: center;
  position: relative;
}

.PlaceCard > button {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  outline: none !important;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  overflow: hidden;
  padding: 7px;
  height: 32px;
  width: 32px;
  opacity: 0.66;
  transition: 0.2s;
}

.PlaceCard > button:hover {
  opacity: 1;
}

.PlaceCard > button > img {
  display: block;
  height: 100%;
}

.PlaceCard:hover {
  color: #000;
  text-decoration: none;
}

.PlaceCard-photos {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlaceCard-photos img {
  margin-right: 5px;
}