.Header {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .navbar-expand-md > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .navbar-expand-md > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.HeaderUserDropdown > a {
  padding: 0 !important;
}

.HeaderUserDropdown > a > img {
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}