.PlaceDetailsCommentForm-ratings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.PlaceDetailsCommentForm-ratings > div {
  display: flex;
  align-items: center;
}

.PlaceDetailsCommentForm-ratings > div > span {
  white-space: nowrap;
  margin-right: 5px;
}

.PlaceDetailsCommentForm-ratings > div > span:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .PlaceDetailsCommentForm-ratings {
    flex-direction: column;
  }

  .PlaceDetailsCommentForm-ratings > div > span:first-child {
    width: 120px;
    display: inline-block;
  }

  .PlaceDetailsCommentForm-ratings > button {
    align-self: flex-start;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .PlaceDetailsCommentForm-ratings > div {
    display: flex;
    justify-content: space-between;
  }

  .PlaceDetailsCommentForm-ratings > div > span:first-child {
    width: auto;
    flex-grow: 1;
  }
}
