.PlaceDetailsImages > div {
  padding: 10px;
  display: flex;
  position: relative;
  align-items: center;
  min-height: 100px;
}

.PlaceDetailsImages > div::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  cursor: pointer;
}

.PlaceDetailsImages > div {
  position: relative;
}

.PlaceDetailsImages > div > button {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  outline: none !important;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  overflow: hidden;
  padding: 7px;
  height: 32px;
  width: 32px;
  opacity: 0.66;
  transition: 0.2s;
  z-index: 100;
}

.PlaceDetailsImages > div > button:hover {
  opacity: 1;
}

.PlaceDetailsImages > div > button > img {
  display: block;
  height: 100%;
}

.PlaceDetailsImages > div > img {
  width: 100%;
  padding: 3px;
}